@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.App {
  text-align: center;
  /* background-color: grey; */
  height: 100vw;
}

.navbar {
  display: inline-flex; 
  height: 150px;
  width: 95vw;
  justify-content: space-around;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 10px;
}

.logo {
  height: 100px;
  width: 400px;
  border: 2px solid blue;
  align-self: center;
}

.buttonWrapper {
  height: 100px;
  width: 100px;
  align-self: center;
}

.signup {
  height: 40px;
  width: 80px;
  background-color: #0084a4;
  border: none;
  border-radius: 20px;
  color: white;
  margin:10px;
  border: 2px solid grey;
}

.signup:hover{
  background-color: #004c5f;
}

.login {
  height: 40px;
  width: 80px;
  background-color: #0084a4;
  border: none;
  border-radius: 20px;
  color: white;
  /* margin: 10px; */
  border: 2px solid grey;
}

  .login:hover{
    background-color: #004c5f;
  }

.description {
  display: inline-flex; 
  /* height: 150px; */
  width: fit-content;
  /* margin: 20px; */
  /* border: 2px solid red; */
  flex-direction: column;
  margin: 10px;
  background-color: #0084a4;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.flags {
  /* position: absolute;
  left: 40px;
  top: 200px; */
  display: inline-flex;
  background-color: aliceblue;
  border-radius: 40px;
  margin-left: 20px;
  height: 200px;
  border: 2px solid grey;
}

.bracket {
  /* margin-left: 10px;
  position: absolute;
  border: 2px solid blue;
  height: 400px;
  width: 1400px;
  top: 550px; */
  display: inline-flex;
  /* justify-content: flex-end; */
  /* border: 2px solid blue; */
  height: 700px;
  width: 1400px;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 20px;
}

.ro16 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  /* border: 2px solid green; */
  max-width: 200px;
  justify-content: center;

}

.quarters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid blue; */
  max-width: 200px;
  margin: unset;
}

.semis {
  margin-left: 10px;
  /* border: 2px solid red; */
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finals {
  margin-left: 10px;
  /* border: 2px solid red; */
  max-width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px;
  background-color: #3c9980;
  border-radius: 20px;

}

.game1 {
  /* border: 2px solid green; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;
}

.game2 {
  /* border: 2px solid purple; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;

}

.game3 {
  /* border: 2px solid orange; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;


}

.game4 {
  /* border: 2px solid yellow; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;


}

.game5 {
  /* border: 2px solid black; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;


}

.game6 {
  /* border: 2px solid pink; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;

}

.game7 {
  /* border: 2px solid blue; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;

}

.game8 {
  /* border: 2px solid turquoise; */
  margin: 10px;
  padding: 10px;
  background-color: #0084a4;
  border-radius: 20px;
}

.trophy {
  position: absolute;
  height: 50%;
  left: 1000px;
  top: 550px;
}


.disclaimer {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 10px;
  display: inline-flex;
  
}