.App {
  text-align: center;
}

.navbar {
  display: inline-flex; 
  height: 150px;
  width: 100vw;
  justify-content: space-around;
  background-color: aliceblue;
}

.logo {
  height: 100px;
  width: 400px;
  border: 2px solid blue;
  align-self: center;
}

.buttonWrapper {
  height: 100px;
  width: 100px;
  border: 2px solid green;
  align-self: center;
}

.signup {

}

.login {

}

.description {
  display: inline-flex; 
  height: 150px;
  width: 500px;
  border: 2px solid red;
  flex-direction: column;
}

/* .bracket {
  display: flex;
  border: 2px solid blue;
  height: fit content;
} */

.ro16 {
  position: absolute;
  margin-left: 10px;
  border: 2px solid green;
  max-width: 200px;
}

.quarters {
  position: absolute;
  left: 220px;
  bottom: 275px;
  border: 2px solid blue;
  max-width: 200px;
}

.semis {
  margin-left: 10px;
  border: 2px solid red;
  max-width: 200px;
  position: absolute;
  left: 420px;
  bottom: 320px;
}

.finals {
  margin-left: 10px;
  border: 2px solid red;
  max-width: 200px;
  position: absolute;
  left: 630px;
  bottom: 350px;
}

.game1 {
  border: 2px solid green;
}

.game2 {
  border: 2px solid purple;
}

.game3 {
  border: 2px solid orange;
}

.game4 {
  border: 2px solid yellow;
}

.game5 {
  border: 2px solid black;
}

.game6 {
  border: 2px solid pink;
}

.game7 {
  border: 2px solid blue;
}

.game8 {
  border: 2px solid turquoise;
}
